* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    background-color: #333;
}

.game-board {
    background: linear-gradient(#87CEEB, #E0F6FF);
    width: 100%;
    height: 500px;
    border-bottom: 20px solid rgb(37, 186, 37);
    margin: 0 auto;
    position: relative;
    overflow: hidden;
}

.pipe {
    position: absolute;
    bottom: 0;
    width: 80px;
    animation: pipe-animation 1.5s infinite linear;
    margin-bottom: -6px;
}

@keyframes pipe-animation {
    from {
        right: -80px;
    }

    to {
        right: 100%;
    }
}

.mario {
    width: 70px;
    position: absolute;
    bottom: 0;
    z-index: 100;
}

.jump {
    animation: jump 700ms ease-out;
}

@keyframes jump {
    0% {
        bottom: 0;
    }

    40% {
        bottom: 180px;
    }

    50% {
        bottom: 180px;
    }

    60% {
        bottom: 180px;
    }

    100% {
        bottom: 0;
    }
}

.nuvem {
    position: absolute;
    animation: passagem 15s infinite linear;
    width: 700px;
}

@keyframes passagem {
    from {
        right: -700px;
    }

    to {
        right: 100%;
    }
}
